{% extends 'layout.html' %}
{% block heading %}Edit Student Information: {{student.name}}{% endblock %}
{% block content %}
<form action="{{url_for('edit_student', name=student.name, netid=student.netid)}}" method="POST">
  {{form.csrf_token}}
  <p>
    Name: {{form.name}}
    {% if form.name.errors %}
    <ul>{% for error in form.name.errors %}<li>{{error}}</li>{% endfor %}</ul>
    {% endif %}
  </p>
  <p>
    NetId: {{form.netid}}
    {% if form.netid.errors %}
    <ul>{% for error in form.netid.errors %}<li>{{error}}</li>{% endfor %}</ul>
    {% endif %}
  </p>
  <p>Restaurant(s) liked:
    <div class ="vertical-menu">
      {% for restaurant, field in form.restaurant_fields() %}
      <p>
        {{restaurant}}: {{field}}
        {% if field.errors %}
        <ul>{% for error in field.errors %}<li>{{error}}</li>{% endfor %}</ul>
        {% endif %}
      </p>
      {% endfor %}
    </div>
  </p>
 <p>Foods(s) liked:
    <div class ="vertical-menu">
      {% for food, field in form.food_fields() %}
      <p>
        {{food}}: {{field}}
        {% if field.errors %}
        <ul>{% for error in field.errors %}<li>{{error}}</li>{% endfor %}</ul>
        {% endif %}
      </p>
      {% endfor %}
    </div>
  </p>
 <p>Alergens(s) have:
    <div class ="vertical-menu">
      {% for alergens, field in form.allergen_fields() %}
      <p>
        {{alergens}}: {{field}}
        {% if field.errors %}
        <ul>{% for error in field.errors %}<li>{{error}}</li>{% endfor %}</ul>
        {% endif %}
      </p>
      {% endfor %}
    </div>
  </p>
  <hr/>
  <input type="reset" value="Reset"/>
  <input type="submit" value="Submit" />
  {% if 'database' in form.errors %}<p>{{form.errors['database']}}</p>{% endif %}
</form>
{% endblock %}
