{% extends 'layout.html' %}
{% block heading %}Search{% endblock %}
{% block content %}
<form action="{{url_for('search')}}" method="POST">
  {{form.csrf_token}}
  <p>
    What do you want to search for? 

    {{form.search}}
  </p>
  <ul>
    {% for i in range(form.textSearches.__len__()) %}
    <li>
    <p>
    {{form.textSearches.entries[i].myLabel}} {{form.textSearches.entries[i]}}


    </p>
    </li>
    {% endfor %}
    {% for i in range(form.numberSearches.__len__()) %}
    <li>
    <p>
    {{form.numberSearches.entries[i].myLabel}} {{form.numberSearches.entries[i]}}


    </p>
    </li>
    {% endfor %}
  </ul>
  <input type="submit" value="Search"/>
  {% if 'database' in form.errors %}<p>{{form.errors['database']}}</p>{% endif %}
</form>
{% endblock %}
