body {
    color: black;
    background: white;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
/* Add a black background color to the top navigation */
div.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
div.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
div.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
div.topnav a.active {
    background-color: #FCBFFF;
    color: white;
}